<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/panel.css">
    <title>my panel</title>
</head>
<body>

    <ul>
        <li><a href="panel/mypanel">My Panel</a></li>
        <li><a href="">User Panel</a></li>
        <li><a href="#">settings</a></li>
        <li><a href="#">Raise query</a></li>
    </ul>

    <div id="main">
        s
    </div>
    
</body>
</html>